# Sistema operativo
.DS_Store
Thumbs.db

# Editor / entorno local
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.log
*.tmp

# Dependencias y builds
node_modules/
_dist/
dist/
build/

# Archivos del entorno local
.env
.env.*
